<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Datos Personales</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='EstilosF.css') }}">
    
</head>
<body>
    <header>
        <div>
            <h1>Datos Personales</h1>
        </div>
       <nav class="menu">
            <a href="HomeF.html">Inicio</a>
            <a href="DatosF.html">Datos Personales</a>
            <a href="FormacionF.html">Formacion Academica</a>
            <a href="TecnologiasF.html">Tecnologias de Interes</a>
            <a href="/" >HOME </a>
        </nav>
    </header>

    <section class="cuerpo">
        <div class="datosp">
            <table>
                <tr>
                    <th>Nombre</th>
                    <td>Nicolas</td>
                </tr>
                <tr>
                    <th>Apellidos</th>
                    <td>Mendez Farias</td>
                </tr>
                <tr>
                    <th>Telefono</th>
                    <td>3046068828</td>
                </tr>
                <tr>
                    <th>Correo</th>
                    <td>nimendezf@correo.udistrital.edu.co</td>
                </tr>
            </table>
        </div>
        <section class="redes">

        </section>
        

    </section>
    
</body>
</html>