<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Formacion Academica</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='EstilosF.css') }}">
    <script src='main.js'></script>
</head>
<body>
    <header>
        <div>
        <h1>Formacion Academica</h1>
        </div>
        <nav class="menu">
            <a href="HomeF.html">Inicio</a>
            <a href="DatosF.html">Datos Personales</a>
            <a href="FormacionF.html">Formacion Academica</a>
            <a href="TecnologiasF.html">Tecnologias de Interes</a>
            <a href="/" >HOME </a>
        </nav>
    </header>
    <section class="cuerpo">
        <div class="forma">
            <h2>Escolares</h2>
            <p>Primaria: Instituto San Bernardo de la Salle</p>
            <p>Secundaria: Instituto San Bernardo de la Salle</p>
            <h2>Universitarios</h2>
            <p>Arquitectura-Universidad Catolica<b>Sin finalizar</b></p>
            <p>Ingenieria de Sistemas-Universidad Distrital<b>Cursando</b></p>
            <h2>Extras</h2>
            <p>Curso de Lectura Rapida</p>
        </div>
        <div class="image">
            <img  src="Imgs/ud.png" width="500px">
        </div>
    </section>
</body>
</html>