<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Formacion Academica</title>
        <link type="text/css" rel="stylesheet" href="estilo.css">
    </head>
    <body>
        <nav>
            <nav align="center"><h2>Formación Académica</h2></nav>
        </nav>

        <center>
            <h3>ESTUDIOS PRIMARIOS: </h3>
            <p>Escuela Nacional de Comercio</p>
        <p>2006 - 2011</p>
        <p>1° a 5°</p>
        </center><hr>
        

        <center>
            <h3> ESTUDIOS BÁSICOS: </h3>
            <p>Escuela Nacional de Comercio</p>
        <p>2012 - 2015</p>
        <p>6° a 9°</p>
        </center><hr>
        

        <center>
            <h3>SECUNDARIA TÉCNICA: </h3>
            <p>Colegio Aldemar Rojas Plazas</p>
        <p>2016 - 2017</p>
        <p>10° a 11°</p>
        </center><hr>
        

        <center>
            <h3>ESTUDIOS TÉCNICOS: </h3>
            <p>Ténico en ejecución musical de instrumentos funcionales</p>
        <p>SENA</p>
        <p>2016 - 2017</p>
        </center><hr>

        <center>
            <h3>ESTUDIOS ACTUALES: </h3>
            <p> Ingeniería de Sistemas</p>
            <p>Universidad Distrital FJC</p>
            <p>2018-3 - actual</p>
        </center>
        
         <hr>
        <a href="Principal.html">Regresar</a>
        <a href="/" >HOME </a>
    </body>