<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Datos Personales</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
    </head>
    <body>
        <center>
            <h1>Datos Personales</h1>
        </center>
        
        <hr>
        <ol>
            <li>
                <b> Cédula: </b>
            </li>
            <ul>
                <li>123456789</li>
            </ul>
            <li>
                <b>Tel: </b>
            </li>
            <ul>
                <li>3003256675</li>
            </ul>
            <li>
                <b>Dirección: </b>
            </li>
            <ul>
                <li> #12334 de la calle Cantura, Studio City</li>
            </ul>
            <li>
                <b>Correo: </b>
            </li>
            <ul>
                <li> abcdef@gmail.com</li>
            </ul>
        </ol>
        <br>
        <ol>
            <nav>
                <li><a href="PagPrincipal.html">Página Principal</a></li>
            </nav>
            <nav>
                <li><a href="PagFormacion.html">Formación Académica</a></li>
            </nav>
            <nav>
                <li><a href="PagTecnologias.html">Tecnologias de Interés</a></li>
            </nav>
            <nav>
                <li><a href="/" >HOME </a></li>
            </nav>
        </ol>
    </body>
</html>