<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Formación Académica</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
    </head>
    <body>
        <center>
            <h1>Formación Académica</h1>
        </center>
            
        
        <hr>
        <ol>
            <li>Bachiller</li>
            <li>Curso de Desarrollo de Apps Moviles</li>
            <li>Ingenieria de Sistemas en la Universidad Distrital</li>
            <ul>
                <li>Curso Introducción a la Seguridad Informatica</li>
                <li>Curso de Seguridad Informatica Avanzado</li>
                <li>Curso de Python</li>
            </ul>
        </ol>
        <ol>
            <nav>
                <li><a href="PagPrincipal.html">Página Principal</a></li>
            </nav>
            <nav>
                <li><a href="PagDatos.html">Datos Personales</a></li>
            </nav>
            <nav>
                <li><a href="PagTecnologias.html">Tecnologias de Interés</a></li>
            </nav>
            <nav>
                <li><a href="/" >HOME </a></li>
            </nav>
        </ol>
    </body>
</html>

