<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Hoja de Vida</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
    </head>
    <body>
        <center>
           <h1>Hoja de Vida</h1>
           <hr>
           <img src="{{ url_for('static', filename='img/Foto.jpeg') }}" width="30%">
           <p><b>Nombre:</b> Mateo Andres Matamoros Guarnizo </p>
           <p><b>Codigo:</b> 20182020037 </p>
        </center>  
        <ol>
            <nav>
                <li><a href="/PagDatos.html">Datos Personales</a></li>
            </nav>
            <nav>
                <li><a href="/PagFormacion.html">Formación Académica</a></li>
            </nav>
            <nav>
                <li><a href="/PagTecnologias.html">Tecnologias de Interés</a></li>
            </nav>
            <nav>
                <li><a href="/" >HOME </a></li>
            </nav>
        </ol>
        
    </body>
</html> 