<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Tecnologias de Interés</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
    </head>
    <body>
        <center>
            <h1>Tecnologias de Interés</h1>
        </center>
        
        <hr>
        <ol>
            <li>
                <b> Leguajes que maneja: </b>
            </li>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>C++</li>
            </ul>
            <li>
                <b> Programas que maneja: </b>
            </li>
            <ul>
                <li>Autocad</li>
                <li>Mathlab</li>
                <li>Word</li>
                <li>Excel</li>
            </ul>
            <li>
                <b> Seguridad Informatica: </b>
            </li>
            <ul>
                <li>Maltego</li>
                <li>No recuerdo el nombre de los otros :(</li>
            </ul>
        </ol>
        <br>
        <ol>
            <nav>
                <li><a href="PagPrincipal.html">Página Principal</a></li>
            </nav>
            <nav>
                <li><a href="PagDatos.html">Datos Personales</a></li>
            </nav>
            <nav>
                <li><a href="PagFormacion.html">Formación Académica</a></li>
            </nav>
            <nav>
                <li><a href="/" >HOME </a></li>
            </nav>
        </ol>
    </body>
</html>