<!DOCTYPE html>
<html lang="es">
    <head>
        <title>HOJA DE VIDA</title>
        <link rel='stylesheet' type='text/css'  href="{{ url_for('static', filename ='EstilosF.css') }}">
    </head>
    <body>
        <img src="{{ url_for('static', filename='img/fotico.jpeg')}}"></div>
        <text align="center"><h1>BRAYAN ALEXIS CASTRILLÓN MEJÍA</h1></text>
        <text align="center"><h3>20182020105</h3></text><hr>
    <section>   
        <nav align="center"><a href="Datosbasicos.html">Datos Básicos</a></nav><hr>
        <nav align="center"><a href="Formacion.html">Formación Académica</a></nav><hr>
        <nav align="center"><a href="Tecnologias.html">Tecnologías de Interés</a></nav><hr>
    </section> 

    <a href="/" >HOME </a>
        
        
         
    </body>
</html>
