<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Tecnologias de Interes</title>
        <link type="text/css" rel="stylesheet" href="estilo.css">
    </head>
    <body>
       
        <section>
            <center>Tecnologías de Interés</center>
        </section>

        <center>
            <h3>ENTORNOS DE PROGRAMACIÓN:</h3>
            <p>-HTML5</p>
            <p>-Python</p>
            <p>-Java</p>
            <p>-C++</p>
        </center> <hr>

        <center>
            <h3>GRUPOS DE TRABAJO</h3>
            <p>-ArcGis</p>
            <p>-GISAC (seguridad informática)</p>
        </center>

        <hr>
        <a href="Principal.html">Regresar</a>
        <a href="/" >HOME </a>
    </body>