<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Intereses</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='EstilosF.css') }}">
    <script src='main.js'></script>
</head>
<body>
    <header>
        <div>
            <h1>Tecnologias de Interes</h1>
        </div>
    <nav class="menu">
        <a href="HomeF.html">Inicio</a>
        <a href="DatosF.html">Datos Personales</a>
        <a href="FormacionF.html">Formacion Academica</a>
        <a href="TecnologiasF.html">Tecnologias de Interes</a>
        <a href="/" >HOME </a>
    </nav>
    </header>
    <section class="cuerpo">
        <h2>Desarrollo Web</h2>
        <div class="front">
            <h2>Front-End</h2>
            <p>-HTML</p>
            <P>-CSS</p>
            <P>-JavaScript</P>
            <p>-Bootstrap</p>
            <p>-jQuery</p>
            <p>-Angular</p>
        </div>
        <div class="back">
            <h2>Back-End</h2>
            <p>-Python</p>
            <p>-Laravel</p>
            <p>-MySQL</p>
            <p>-PHP</p>
        </div>
        <div class="images">
            <img src="Imgs/front.png" width="500px">
        </div>
    </section>
    
</body>
</html>